*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
/* header */
.site_header{
    color: yellowgreen;
    background-color: blue;
    height: 400px;
}
h1{
    position: relative;
    top: 35%;
    left: 25%;
    font-size: 100px;
}
/* main */
.row{  
    margin: 2rem;
    text-align: center;
}
.prodotto{
    position: relative;
    display: inline-block;
    padding: 5px;
}
.cuore{
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    top: 10px;
    z-index: 100;
}
.red{
    color: red;
}
img{
    width: 300px;
}
.text{
    text-align: left;
}
.tag1{
    position: absolute;
    bottom: 15%;
}
.text_red{
    padding: 4px;
    font-size: 1rem;
    color: white;
    background-color: red;
}
.text_green{
    padding: 4px;
    font-size: 1rem;
    color: white;
    background-color: green;
}
.tag2{
    position: absolute;
    bottom: 15%;
    left: 15%;
}
.seconda_img1{
    position: absolute;
    visibility: hidden;
    right: 2%;
}
.seconda_img2{
    position: absolute;
    visibility: hidden;
    right: 2%;
}
.seconda_img3{
    position: absolute;
    visibility: hidden;
    right: 2%;
}
.seconda_img4{
    position: absolute;
    visibility: hidden;
    right: 2%;
}
.seconda_img5{
    position: absolute;
    visibility: hidden;
    right: 2%;
}
.seconda_img6{
    position: absolute;
    visibility: hidden;
    right: 2%;
}
.prodotto:hover .seconda_img1, 
.prodotto:hover .seconda_img2,
.prodotto:hover .seconda_img3,
.prodotto:hover .seconda_img4,
.prodotto:hover .seconda_img5,
.prodotto:hover .seconda_img6{
    visibility: visible;
}

